<ebay-file-upload-input>
    <@title class="titleClass" id="titleId">
        Title for multiline subtitle
    </@title>
    <@subtitle class="subtitleClass" id="subtitleId">
        <p>Subtitle 1</p>
        <p>Subtitle 2</p>
    </@subtitle>
    <span>Browse files</span>
</ebay-file-upload-input>
