$ const fileInput = {
    accept: "image/*",
};

<ebay-file-upload-input ...fileInput>
    <@title class="titleClass" id="titleId">
        Title for restricted files
    </@title>
    <span>Browse files</span>
</ebay-file-upload-input>
